*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.main-container {
    max-width: 1102px;
    margin: 0 auto;
}
.main-container .banner .inner-container {
    width: 1018px;
    margin: 0 auto;
}
.main-container .banner {
    background-image: url(images/baner.png);
    height: 570px;
    width: 1100px;
    margin: 0 auto;
    padding: 34px 0 0;
    position: relative;
}
.main-container .banner header {
    display: grid;
    grid-template-columns: 225px auto;
    grid-gap: 140px;
    background: #fff;
    padding: 0 28px
}
.main-container .banner header img {
    align-self: center;
}
.main-container .banner header ul {
    height: 95px;
}
.main-container .banner header ul li {
    list-style: none;
    display: inline;
    margin-right: 33px;
    line-height: 95px
}
.main-container .banner header ul li:last-child {
    margin: 0px;
}
.main-container .banner header ul li a {
    text-decoration: none;
    color: #58585a;
    font-size: 14px;
}
.main-container .banner header ul li a.active {
    color: #bf1e2e;
}



.main-container .banner .red-box {
    color: #ffffff;
    background-color: #bf1e2e;
    width: 444px;
    height: 237px;
    padding: 20px 10px 0 40px;
    position: absolute;
    right: 0px;
    bottom: 116px;
}
.main-container .banner .red-box h3 {
    font-size: 32px;
    font-weight: normal;
    line-height: 60px;
}
.main-container .banner .red-box ul {
    line-height: 30px
}
.main-container .banner .red-box ul li {
    list-style: none;
}
.main-container .banner .red-box ul li a {
    text-decoration: none;
    color: #ffffff;
}
.main-container .banner .red-box ul li a i {
    margin-right: 6px;
    font-size: 22px;
}
.main-container .banner .red-box .button button {
    background-color: #cc2b3b;
    outline: none;
    border: none;
    font-size: 22px;
    width: 191px;
    height: 54px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.main-container .banner .red-box .button button a {
    color: #ffffff;
    text-decoration: none;
}





.main-container .middle-container {
    background-color: #e9e9e9;
    display: grid;
    grid-template-columns: 740px auto;
    height: 418px;
    margin: 0 auto;
    max-width: 1100px;
}
.main-container .middle-container .information {
    background-color: #ffffff;
    height: 448px;
    max-width: 670px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
    position: relative;
    left: 70px;
    top: -30px;
}
.main-container .middle-container .information .content2 img {
    margin-bottom: 30px;
}
.main-container .middle-container .information .content2 .camera i {
    color: #939292;
    font-size: 30px;
    margin-right: 15px;
}
.main-container .middle-container .information .content2 .camera {
    text-align: center;
    font-size: 20px;
}
.main-container .middle-container .information .content2 .camera a {
    text-decoration: none;
    color: #cf5662;
}
.main-container .middle-container .information .content1 h4 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 12px;
    color: #000000;
}
.main-container .middle-container .information .content1 p {
    font-size: 13px;
    margin-bottom: 22px;
    color: #666666;
}
.main-container .middle-container .information .content1 button {
    outline: none;
    border: none;
    background-color: #bf1e2e;
    font-size: 22px;
    width: 290px;
    height: 54px;
}
.main-container .middle-container .information .content1 button a {
    text-decoration: none;
    color: #f0d6d8;
}
.main-container .middle-container .information .content1 button i {
    margin-right: 13px;
    font-size: 30px;
    color: #666666;
}
.main-container .middle-container .information .content1 img {
    margin-bottom: 17px;
}
.main-container .middle-container .information .content1 .phone {
    color: #bf1e2e;
    font-size: 20px;
    padding: 22px 0 0 16px;
}
.main-container .middle-container .information .content1 .phone span {
    color: #666666;
    margin-right: 7px;
}
.main-container .middle-container .information .content1 .phone span i {
    font-size: 30px;
    margin-right: 13px;
}
.main-container .middle-container .information .content1 .phone a {
    text-decoration: none;
    color: #bf1e2e;
}
.main-container .middle-container .content3 {
    padding: 35px 37px 0 30px;
}
.main-container .middle-container .content3 .p1 {
    font-size: 22px;
    margin-bottom: 25px;
}
.main-container .middle-container .content3 .p2 {
    font-size: 13px;
    margin-bottom: 27px;
}
.main-container .middle-container .content3 .p3 {
    font-size: 13px;
}
.main-container .middle-container .content3 a {
    color: #bf1e2e;
}


.main-container footer {
    background-color: #939292;
    padding: 31px 0 0 0;
}
.main-container footer .inner-container {
    max-width: 852px;
    margin: 0 auto;
    height: 210px;
}
.main-container footer .inner-container .bio {
    display: grid;
    grid-template-columns: 72px 155px 291px 178px;
    grid-gap: 52px;
}
.main-container footer .inner-container .bio .bio1 h3 {
    color: #b6b4b4;
    font-size: 20px;
    margin-bottom: 16px;
}
.main-container footer .inner-container .bio .bio1 ul li {
    list-style: none;
    font-size: 11px;
    margin-bottom: 10px;
}
.main-container footer .inner-container .bio .bio1 ul li a {
    color: #ffffff;
    text-decoration: none;
}
.main-container footer .inner-container .bio .bio2 h3 {
    color: #b6b4b4;
    font-size: 20px;
    margin-bottom: 16px;
}
.main-container footer .inner-container .bio .bio2 ul li {
    list-style: none;
    font-size: 11px;
    margin-bottom: 10px;
}
.main-container footer .inner-container .bio .bio2 ul li a {
    text-decoration: none;
    color: #ffffff;
}
.main-container footer .inner-container .bio .number {
    font-size: 20px;
}
.main-container footer .inner-container .bio .number i {
    color: #b0aeae;
    font-size: 30px;
    margin-right: 15px;
}
.main-container footer .inner-container .bio .number .book {
    border-bottom: 1px solid #a1a0a0;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
.main-container footer .inner-container .bio .number .book span a {
    text-decoration: none;
    color: #ffffff;
}
.main-container footer .inner-container .bio .number .phone span a {
    text-decoration: none;
    color: #ffffff;
}
.main-container footer .inner-container .bio .website {
    font-size: 10px;
    align-self: end;
}
.main-container footer .inner-container .bio .website p a {
    text-decoration: none;
    color: #ececec;
}
.main-container footer .inner-container .bio .website span a {
    color: #abaaaa;
}